{% extends "layout.twig" %}


{% block content %}
{{ include('navbar/navbar.html') }}


<section class="login">
    <div class="backgorund">
      <div class="white">
          <img src="img/log.png" alt="" srcset="">
      </div>
      <div class="black"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class=" col-lg-4 offset-lg-7 col-xl-4 offset-xl-8">
          <h1 class="title">Log in</h1>
        </div>
      </div>
      <form method="POST">
        <div class="row mt-5">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8">
            <input type="email" placeholder="email" name="email" required >
            <p style="color: darkred;">{{ email_error }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8">
            <input type="password" name="password" placeholder="password" required>
            <p style="color: darkred;">{{ password_error }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8">
              <input type="submit" class="btn" value="Log in" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8">
             <div class="or">
               OR
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8 btn-a" >
            <a href="/register"><input type="text" class="btn" value="Sing up" style="caret-color: transparent"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-7 col-xl-4 offset-xl-8 btn-a" style="color: white;" >
            <a href="#" class="link">Forget password</a>
          </div>
        </div>
      </form>
    </div>
  </section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4 circle">
        <a id="myLink" title="Click to do something"
        href="#" ><i class="bi bi-arrow-up-circle-fill"></i>
      </a>
      </div>
    </div>
  </div>

{{ include('footer/footer.html')}}
{% endblock %}

