<header> 
    <div class="container">
      <nav>
            <ul class="menu">
              <li class="menu_item"><a href="/">Home</a></li>
              <li class="menu_item"><a href="/gallery/all">Gallery</a></li>
              <li class="menu_item"><a href="/login">Log in</a></li>
              <li class="menu_item"><a href="/register">Sing up</a></li>
            </ul>
      </nav>
    </div>
    <div class="container">
      <button id ="hamburger" class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner" ></span>
        </span>
      </button>
      <nav id="nav" class="nav">
          <ul class="menu">
            <li class="menu_item"><a href="/">Home</a></li>
            <li class="menu_item"><a href="/gallary">Gallary</a></li>
            <li class="menu_item"><a href="/login">Login in</a></li>
            <li class="menu_item"><a href="/register">Sing up</a></li>
          </ul>
      </nav>
    </div>
</header>